

{% extends 'layout.html' %}



{% block body %}

<div class="jumbotron text-center">

	<h2>Speech Recognition and Understanding Course Project </h2>

    <h4><b>Voice Conversion</b></h4>

	<hr>

	<ul>

        <li align="left"><a href="https://github.com/Aniket-Pradhan">Aniket Pradhan</a></li>
        <li align="left">Akhil Jarodia</li>
		<li align="left">Arav Malik</li>
		<li align="left">Deepanshu</li>
        <li align="left">Kshitij</li>
        <li align="left"><a href="https://github.com/siddharth17196">Lil Sid</a></li>

	</ul>

	<img src="/static/vc.png">	

</div>



{% endblock %}
