{% extends 'layout.html' %}



{% block body %}

<div class="jumbotron text-center">
    <h1>Voice Conversion</h1>
    <hr>
    <br>
    <p>Voice conversion (VC) is a technique to modify non/paralinguistic information of speech while preserving linguistic
information. This technique can be applied to various tasks such as 
speaker-identity modification for text-to-speech systems speaking 
assistance, emotion/expressiveness conversion and pronunciation conversion.</p>
    <br>
    <hr>
    <p align="left">We had implemented two methods for voice conversion:</p>
    <ol>
        <li align="left"><b>Gaussian Mixture Models</b></li>
        <p align="left">A parallel voice conversion method</p>
        <li align="left"><b>Cyclegan-VC2</b></li>
        <p align="left"> A non-parallel voice conversion method</p>

</div>



{% endblock %}
