<nav class="navbar fixed-bottom navbar-light bg-light">

  <div class="navbar-text" align="center"> 
      © Copyright 2020 Lil Sid
  </div>

</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" href="/">voco.ai</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarText">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">

        <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>

      </li>

      <li class="nav-item">

        <a class="nav-link" href="#"></a>

      </li>

      <li class="nav-item">

        <a class="nav-link" href="#"></a>

      </li>

    </ul>

    <span class="navbar-text">
    
    <div class="navbar-nav">

      <a class="nav-item nav-link" href="/" align="right">Home</a>

      <a class="nav-item nav-link" href="/predict">Convert</a>

      <a class="nav-item nav-link" href="/about">About</a>

    </div>
    </span>
  </div>

</nav>
