<nav class="navbar navbar-expand-md navbar-dark bg-dark ">

  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-label="Toggle navigation"> 

        <span class="sr-only">Toggle navigation</span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>  

      </button>

      <a class="navbar-brand" href="#">VOCON.IO</a>

    </div>

  </div>

  <div class="collapse navbar-collapse" id="navbar">

    <ul class="nav navbar-nav">

      <li><a class="nav-link" href="/">Home</a></li>

      <li><a class="nav-link" href="/about">About</a></li>

      <!-- <li><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a></l> -->

    </ul>

  </div>

</nav>

<!-- data-target="#navbarsExampleDefault" aria-label="Toggle navigation"> -->
