audioread==2.1.8
cffi==1.14.0
cycler==0.10.0
Cython==0.29.15
decorator==4.4.2
joblib==1.2.0
kiwisolver==1.1.0
librosa==0.7.2
llvmlite==0.31.0
matplotlib==3.2.0
numba==0.48.0
numpy==1.18.1
progressbar==2.5
pycparser==2.20
pyparsing==2.4.6
python-dateutil==2.8.1
pyworld==0.2.8
resampy==0.2.2
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
SoundFile==0.10.3.post1
torch==1.4.0
